*{
    margin: 0;
    padding: 0;
}

.fundo{
    height: 100vh;
    width: 62vh;
    margin-left: 270px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: rgb(126, 10, 28);
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
}

.botao:hover{
    background-color: black;
}

#resultado{
    width: 220px;
    background-color: white;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}

.titulo{
    text-align: center;
    margin-left: 877px;
}
